#### MULTIPLE LINEAR REGRESSION

In [1]:
import pandas as pd

df2 = pd.read_csv('bensin2.csv')

In [2]:
df2

    Liter  Penumpang  Bagasi  Kecepatan   RPM  Suhu  Kilometer
0      20          1       0         42  3000    29        142
1      25          2      15         50  4000    36        177
2      20          4      10         50  3000    24        144
3      30          5      25         50  3000    18        203
4      40          1      40         50  3200    30        273
..    ...        ...     ...        ...   ...   ...        ...
60     31          3       0         50  3000    30        203
61     37          1       0         50  3000    22        241
62     23          2      10         50  3000    30        142
63     36          2       0         50  3000    20        241
64     23          1      15         50  3000    30        142

[65 rows x 7 columns]

In [3]:
df2.corr(method='pearson')

              Liter  Penumpang    Bagasi  Kecepatan      Suhu  Kilometer
Liter      1.000000  -0.087997  0.097560   0.109370  0.079470   0.700815
Penumpang -0.087997   1.000000  0.081542   0.111942 -0.039954  -0.034175
Bagasi     0.097560   0.081542  1.000000   0.082096 -0.049363  -0.023318
Kecepatan  0.109370   0.111942  0.082096   1.000000 -0.009752   0.042819
Suhu       0.079470  -0.039954 -0.049363  -0.009752  1.000000   0.136657
Kilometer  0.700815  -0.034175 -0.023318   0.042819  0.136657   1.000000

Berdasarkan hasil korelasi, Bagasi memiliki nilai korelasi yang yang paling mendekati nol sehingga tidak terlalu berpengaruh terhadap jarak kilometer.

In [6]:
import numpy as np
import sklearn.linear_model as lm

model1 = lm.LinearRegression()
model1.fit(X_train, y_train)

LinearRegression()

In [7]:
import sklearn.model_selection as ms

X = df2[['Liter', 'Penumpang', 'Suhu', 'Kecepatan']]
y = df2[['Kilometer']]

X_train, X_test, y_train, y_test = ms.train_test_split(X, y, test_size=0.1, random_state=0)
model1.fit(X_train, y_train)

LinearRegression()

In [9]:
print('intercept=', model1.intercept_)
print('slope=', model1.coef_)

intercept= [71.89241946]
slope= [[ 6.54072143  2.99204736  2.45423995 -3.21123461]]

#### UJI COBA

- 40 liter bensin
- 5 penumpang
- 20 derajat
- 80 km/h

In [10]:
data1 = np.array([[40, 5, 20, 80]])
hasil = model1.predict(data1)

print(hasil)

[[140.66754311]]

E:\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

#### SCORING MODEL

In [11]:
r2 = model1.score(X_test, y_test)
print(r2)

0.6822990991636202